{% block content %}
    <style>
        .list-link, .list-link:focus, .list-link:hover {
            color: black;
            text-decoration: none;
        }

        #logs_table_filter label {
            margin-right: 4px;
        }

        #logs_table_filter input {
            width: 170px;
            font-size: 12px;
        }

        #refresh_log_button:last-child {
            margin-right: 0;
            margin-left: 8px;
        }
    </style>

    <div id="date_selects" style="display:none;">
        {% for name, date in dates %}
            <label>
                {{ date }}:
                {{ DateRangePicker.widget({
                    'name': name,
                    'id': 'date' ~ name,
                    'pluginOptions': {
                        'locale': {
                            'format': DateHelper.getJsRelyntDateFormat(),
                            'firstDay': DateHelper.getRelyntFirstDayOfTheWeek()
                        },
                    }
                }) | raw }}
            </label>
        {% endfor %}
    </div>

    {{ Html.button("Refresh", {'id': 'refresh_log_button', 'class': 'btn btn-primary'}) | raw }}

    <table id="logs_table" class="table table-striped table-bordered" style="width:100%; display: none"
           border="1">
        <thead>
        <tr>
            {{ model.generateCodeForTableHead() | raw }}
        </tr>
        </thead>
    </table>

    {{ modal_begin({
        size: 'modal-lg',
        header: "<h2>" ~ Yii.t('app', 'Details') ~ "</h2>",
        id: 'details_modal',
        footer:
        Html.button(Yii.t('app', 'Close'), {
            'class': 'btn close-modal',
            'data-dismiss': "modal",
        })
    }) }}
    <div id='modalContent'></div>
    {{ modal_end() }}

    {% block scripts %}
        <script>
            {% include 'log.js.twig' with {'model': model} %}
        </script>
    {% endblock %}
{% endblock %}