var table = $('#logs_table');
var serverSide = true;
var dataLoaded = false;
var jsDateFormat = '{{ DateHelper.getJsRelyntDateFormat() }}';
table.DataTable({
    buttons: dataTableButtons,
    ajax: "{{ Url.toRoute("get-logs-records") }}",
    columns: {{ model.getTableColumnNames() | raw }},
    serverSide: true,
    searchDelay: 1000,
    deferLoading: true,
    oLanguage: {
        oPaginate: {
            "sFirst": "<i class='fa fa-fast-backward'></i>",
            "sPrevious": "<i class='fa fa-step-backward'></i>",
            "sNext": "<i class='fa fa-step-forward'></i>",
            "sLast": "<i class='fa fa-fast-forward'></i>"
        },
        sEmptyTable: "No data available in table",
        sInfo: "Showing _START_ to _END_ of _TOTAL_ entries",
        sInfoEmpty: "Showing 0 to 0 of 0 entries",
        sInfoFiltered: "(filtered from _MAX_ total entries)",
        sInfoPostFix: "",
        sLengthMenu: "Show _MENU_ entries",
        sLoadingRecords: "Loading...",
        sProcessing: "Processing...",
        sSearch: "Search:",
        sUrl: "",
        sZeroRecords: "No matching records found",
        oAria: {
            "sSortAscending": ": activate to sort column ascending",
            "sSortDescending": ": activate to sort column descending"
        },
    },
    dom: "<'row'<'col-md-12 dt-actions'<'dt-show-items'l><'dt-search'f>r>>" + "<'row dt-under-header'>" + "t" + "<'row'<'col-md-12 under_table'<'small-btn-own'B i>p>>",
});

table.show();
var logDt = table.DataTable();
$.fn.dataTableExt.afnFiltering.push(
    function (oSettings, aData, iDataIndex) {
        // Skipping if there is no date fields
        if (Object.keys(dateFilters).length == 0) {
            return true;
        }
        let rowScore = true;
        for (var column in dateFilters) {
            let value = aData[column];
            let dates = dateFilters[column].split(' - ');
            dates[0] = moment(dates[0], jsDateFormat).format('YYYY-MM-DD');
            dates[1] = moment(dates[1], jsDateFormat).format('YYYY-MM-DD');

            if (!moment(value).isBetween(dates[0] + ' 00:00:00', dates[1] + ' 23:59:59')) {
                rowScore = false;
            }
        }

        return rowScore;
    }
);

var dateFilters = {};

$(document).on('change', '.date-range-picker-input', function () {
    let column = logDt.columns($(this).attr('name') + ':name');
    let value = $(this).val();
    if (serverSide) {
        // Using DT search to pass data on server
        column.search(value).draw();
    } else {
        logDt.columns().search('');
        dateFilters[column[0]] = value;
        logDt.draw();
    }
});

// Moving selects into datatable
$('#logs_table_filter').append($('#date_selects').children());
$('#logs_table_filter').append($('#refresh_log_button'));
// Stretching select column
let dateRangeInput = $('.date-range-picker-input');

table.on('xhr.dt', function (e, settings, json) {
    if (json !== null && json.serverSideEnabled !== undefined && json.serverSideEnabled) {
        logDt.settings()[0].oFeatures.bServerSide = true;
        serverSide = true;
    } else {
        logDt.settings()[0].oFeatures.bServerSide = false;
        serverSide = false;
        let column = logDt.columns(dateRangeInput.attr('name') + ':name');
        let value = dateRangeInput.val();
        logDt.columns().search('');
        dateFilters[column[0]] = value;
        logDt.page.len(logDt.page.len()).draw();
    }
    if (!dataLoaded) {
        dataLoaded = true;

        // Timeout to load rows in datatable
        setTimeout(function () {
            dateRangeInput.change();
        }, 10);
    }
});

$('#refresh_log_button').click(function () {
    reloadLogTable();
});

function reloadLogTable() {
    var table = $('#logs_table').DataTable();
    table.ajax.reload();
}

function showDetailsModal(id) {
    var modalWindow = $('#details_modal');
    modalWindow.modal('show')
        .find('#modalContent')
        .html("<div class='loading-gif'></div>");

    modalWindow.modal('show')
        .find('#modalContent')
        .load('{{ Url.toRoute("get-log-record?id=") }}' + id);
}
