<style>
    .modal-body {
        height: 500px;
        min-width: 500px;
        width: auto;
        overflow-y: auto;
        overflow-x: auto;
    }
</style>

{% if record is empty %}
    <div class="alert alert-danger" role="alert">{{ Yii.t('app', "Record not found") }}</div>
{% else %}
    <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
            <table class="table table-bordered">
                {% for key, item in record %}
                    {% if propertyParams[key]['show_in_additional_panel'] is empty or propertyParams[key]['show_in_additional_panel'] != true %}
                    <tr>
                        <td><strong>{{ model.getAttributeLabel(key) }}</strong></td>
                        <td>{{ item | raw }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

            {% for key, item in record %}
                {% if propertyParams[key]['show_in_additional_panel'] is not empty and propertyParams[key]['show_in_additional_panel'] == true %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ model.getAttributeLabel(key) }}</div>
                        <div class="panel-body">{{ item | raw }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}