html,
body {
    width: 100%;
    font-size: 13px;
    height: 100%;
    position: relative;
}

body {
    overflow: hidden;
    overflow-y: auto;
    padding-right: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    padding: 40px 0 40px 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-logs {
    width: 100%;
    padding-top: 12px;
}

/**Styles for datatables*/
div.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1
}

.dataTables_processing {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    color: #333;
    border: none;
}

.dataTables_filter {
    display: flex;
}

table.dataTable th {
    white-space: nowrap;
}

table.dataTable tbody tr:hover,
table.dataTable tbody tr.odd:hover,
table.dataTable tbody tr.even:hover {
    background-color: whitesmoke;
}


table.dataTable tbody tr:hover.selected,
table.dataTable tbody tr.odd:hover.selected,
table.dataTable tbody tr.even:hover.selected {
    background-color: #a9b7d1;
}

table.dataTable tbody tr > .sorting_1,
table.dataTable tbody tr > .sorting_2,
table.dataTable tbody tr > .sorting_3 {
    background-color: #f9f9f9;
}

table.dataTable tbody tr.selected > .sorting_1,
table.dataTable tbody tr.selected > .sorting_2,
table.dataTable tbody tr.selected > .sorting_3 {
    background-color: #acbad4;
}

table.dataTable tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
}

table.dataTable tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3;
}

table.dataTable tbody tr.odd > .sorting_3 {
    background-color: whitesmoke;
}

table.dataTable tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b3cd;
}

table.dataTable tbody tr.odd.selected > .sorting_2 {
    background-color: #a7b5ce;
}

table.dataTable tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b6d0;
}

table.dataTable tbody tr.even > .sorting_1 {
    background-color: #f9f9f9;
}

table.dataTable tbody tr.even > .sorting_2 {
    background-color: #fbfbfb;
}

table.dataTable tbody tr.even > .sorting_3 {
    background-color: #fdfdfd;
}

table.dataTable tbody tr.even.selected > .sorting_1 {
    background-color: #acbad4;
}

table.dataTable tbody tr.even.selected > .sorting_2 {
    background-color: #adbbd6;
}

table.dataTable tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8;
}

table.dataTable tbody tr:hover > .sorting_1,
table.dataTable tbody tr.odd:hover > .sorting_1,
table.dataTable tbody tr.even:hover > .sorting_1 {
    background-color: #eaeaea;
}

table.dataTable tbody tr:hover > .sorting_2,
table.dataTable tbody tr.odd:hover > .sorting_2,
table.dataTable tbody tr.even:hover > .sorting_2 {
    background-color: #ebebeb;
}

table.dataTable tbody tr:hover > .sorting_3,
table.dataTable tbody tr.odd:hover > .sorting_3,
table.dataTable tbody tr.even:hover > .sorting_3 {
    background-color: #eeeeee;
}

table.dataTable tbody tr:hover.selected > .sorting_1,
table.dataTable tbody tr.odd:hover.selected > .sorting_1,
table.dataTable tbody tr.even:hover.selected > .sorting_1 {
    background-color: #a1aec7;
}

table.dataTable tbody tr:hover.selected > .sorting_2,
table.dataTable tbody tr.odd:hover.selected > .sorting_2,
table.dataTable tbody tr.even:hover.selected > .sorting_2 {
    background-color: #a2afc8;
}

table.dataTable tbody tr:hover.selected > .sorting_3,
table.dataTable tbody tr.odd:hover.selected > .sorting_3,
table.dataTable tbody tr.even:hover.selected > .sorting_3 {
    background-color: #a4b2cb;
}

@media (max-width: 420px) {
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    font-size: 0.8em;
}

@media (max-width: 420px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        display: block;
    }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination li {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 27px;
}

@media (max-width: 420px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination li {
        display: inline;
        margin-bottom: 10px;
    }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination li a, div.dataTables_wrapper div.dataTables_paginate ul.pagination li span {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: #333;
    font-size: 13px;
}

@media (max-width: 420px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination li a, div.dataTables_wrapper div.dataTables_paginate ul.pagination li span {
        height: 27px;
    }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination li.active a, div.dataTables_wrapper div.dataTables_paginate ul.pagination li.active span {
    color: #fff;
}

/*******relynt-table******* for simple tables grid*********/
.relynt-table-wrap {
    width: 100%;
    overflow-x: auto;
}

.relynt-table-wrap .summary {
    padding: 8px;
    font-size: 12px;
}

.relynt-table {
    min-width: 600px;
    vertical-align: middle !important;
}

.relynt-table th a[data-sort] {
    display: block;
    width: 100%;
    color: #333;
    font-size: 13px;
    position: relative;
    text-decoration: none;
    padding-right: 40px;
}

.relynt-table th a[data-sort]:after {
    opacity: 0.2;
    content: "\f160";
    position: absolute;
    bottom: 50%;
    right: 8px;
    display: block;
    font-family: "FontAwesome";
    transform: translateY(50%);
}

.relynt-table th a.acs:after {
    opacity: 0.5;
}

.relynt-table th a.desc:after {
    opacity: 0.5;
    content: "\f161";
}

.relynt-table > tbody > tr > td {
    vertical-align: middle;
}

.relynt-table .input-wrap,
.relynt-table .select-wrap,
.relynt-table .multiple-select-wrap {
    position: relative;
}

.relynt-table input,
.relynt-table select,
.relynt-table .select2 {
    position: relative;
    height: 30px;
    font-size: 13px;
}

.relynt-table .empty {
    text-align: center;
}

.dt-buttons:empty {
    display: none !important;
}

.dt-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
}

@media (max-width: 991px) {
    .dt-actions {
        flex-flow: wrap;
    }
}

@media (max-width: 991px) {
    .dt-actions .dt-show-items,
    .dt-actions .dt-search {
        order: 2;
    }
}

.dt-actions .dt-show-items label,
.dt-actions .dt-search label {
    margin-bottom: 0;
    font-size: 12px;
}

.dt-actions .dt-show-items label select:not(.select2),
.dt-actions .dt-search label select:not(.select2) {
    height: 30px;
}

.dt-actions .dt-search label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

@media (max-width: 550px) {
    .dataTables_filter {
        flex-flow: wrap;
    }

    #logs_table_filter label {
        margin-right: 0 !important;
        margin-bottom: 8px;
        width: 100%;
    }

    #refresh_log_button:last-child {
        margin-left: auto !important;
    }
}

@media (max-width: 768px) {
    .dt-actions .dt-search {
        width: 100%;
    }

    .dt-actions .dt-search .dataTables_filter {
        text-align: left;
        margin-top: 8px;
    }

    .dt-actions .dt-search label {
        width: 49%;
    }

    .dt-actions .dt-search label input {
        width: calc(100% - 50px) !important;
        margin-left: 5px !important;
    }

    .dt-actions .dt-show-items {
        width: auto;
    }

    .dt-actions .dt-show-items .dataTables_length {
        text-align: left;
    }
}

@media (max-width: 1150px) {
    .show-sidebar .dt-actions {
        flex-flow: wrap;
    }

    .show-sidebar .dt-actions .dt-search,
    .show-sidebar .dt-actions .dt-show-items {
        order: 2;
    }
}

.under_table {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.dt-under-header .alert-wrapper {
    margin-top: 6px;
}

.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
    display: inline-block;
}

@media (max-width: 1024px) {
    .dataTables_info {
        display: none;
    }
}

div.dataTables_filter label input {
    margin-left: 5px !important;
    max-width: calc(100% - 50px);
}

.small-btn-own {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px 0;
}

@media (max-width: 420px) {
    .small-btn-own {
        margin-button: 8px;
    }
}

.small-btn-own .btn-group {
    margin-bottom: 0 !important;
    margin-right: 8px;
    display: flex;
    width: 60px;
}

.small-btn-own .btn-group .btn {
    padding: 0 7px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 27px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-btn-own .btn-group .btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.small-btn-own .btn-group .btn > span {
    margin-top: -1px;
}

.small-btn-own .btn-group .btn.btn-default {
    box-shadow: unset;
}


/*********buttons colors ********/

.btn {
    text-shadow: none;
    outline: none;
    font-size: 12px;
    padding: 5px 10px 5px;
}

.btn-primary,
a.btn-primary, a.btn-primary:focus,
input.btn-primary, input.btn-primary:focus,
button.btn-primary, button.btn-primary:focus {
    background: #fff;
    color: #01579b;
    border: 1px solid #01579b;
    outline: none;
}

.btn-primary:hover,
a.btn-primary:hover,
input.btn-primary:hover,
button.btn-primary:hover {
    background: #01579b;
    color: #fff !important;
    border: 1px solid #01579b;
    box-shadow: none;
    outline: none;
}

.btn-success, .btn-success:focus {
    background: #fff;
    color: #2e7d32;
    border: 1px solid #2e7d32;
}

.btn-success:hover {
    background: #229828;
    color: #fff;
    border: 1px solid #2e7d32;
    box-shadow: none;
}

.btn-warning, .btn-warning:focus {
    background: #fff;
    color: #ef6c00;
    border: 1px solid #ef6c00;
}

.btn-warning:hover {
    background: #ef6c00;
    color: #fff;
    border: 1px solid #ef6c00;
    box-shadow: none;
}

.btn-info, .btn-info:focus {
    background: #fff;
    color: #80deea;
    border: 1px solid #80deea;
}

.btn-info:hover {
    background: #80deea;
    color: #fff;
    border: 1px solid #80deea;
    box-shadow: none;
}

.btn-danger, .btn-danger:focus {
    background: #fff;
    color: #dd2c00;
    border: 1px solid #dd2c00;
}

.btn-danger:hover {
    background: #dd2c00;
    color: #fff;
    border: 1px solid #dd2c00;
    box-shadow: none;
}

#logs_table_filter label {
    font-weight: bold;
}

#logs_table_filter label input {
    font-weight: normal !important;
    border: 1px solid #ccc;
    transition: 0.3s;
    color: #000;
}

#logs_table_filter label input:active,
#logs_table_filter label input:hover,
#logs_table_filter label input:focus {
    box-shadow: unset;
    font-weight: normal !important;
    border: 1px solid #1976d2
}


/***for panels inside relynt on pages***/

.panel-default {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: solid 1px #e0e0e0;
}

.panel-default:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.panel-default .panel-heading {
    border-bottom: 1px solid transparent;
    font-size: 13px;
    padding: 5px 15px 5px;
    line-height: 27px;
    background: #fff;
}

.panel-default .panel-heading strong,
.panel-default .panel-heading b {
    font-weight: 500;
}

.panel-default.panel-no-border {
    border: none;
    box-shadow: none;
}

.panel-default.panel-no-border .panel-heading {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
    color: #1976d2;
}

.panel .panel-body .panel-danger > .panel-heading,
.panel-danger > .panel-heading {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
}

.panel .panel-body .panel-primary > .panel-heading,
.panel-primary > .panel-heading {
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.panel-default.panel-no-border > .panel-body {
    padding: 15px;
}

/********Spinner*******/

.lds-spinner {
    color: #616161;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #616161;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*******modals*********/

.modal-header {
    background: #fff;
    border: 0;
    padding: 16px 0 16px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e0e0e0;
}

.modal-header span.title {
    font-size: 13px;
    color: #333
}

.modal-header .close {
    right: 1px;
    top: 26px;
    background: none;
    font-size: 20px;
    width: 20px;
    height: 20px;
    font-weight: normal;
    color: #333;
    opacity: 1;
}

.modal-inner-content {
    padding: 20px 20px;
}

/**********forms*********/

input,
.select2,
select {
    height: 30px;
    font-size: 13px;
}

.relynt-form-holder .form-group {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    height: auto;
    min-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-inner-content .relynt-form-holder .form-group {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.relynt-form-holder .form-horizontal .form-group > label {
    width: 35%;
    text-align: right;
    padding-right: 15px;
    margin-bottom: 0;
    font-size: 13px;
    align-self: flex-start;
    padding-top: 7px;
}

.relynt-form-holder .form-horizontal .form-group .input-holder {
    width: 75%;
}

.relynt-form-holder .form-horizontal .form-group .input-holder input {
    width: 100%;
    border: 1px solid #ccc !important;
    transition: 0.3s;
    box-shadow: unset;
    flex: 1;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
    height: 30px;
}


.relynt-form-holder .form-horizontal .form-group .input-holder input:hover,
.relynt-form-holder .form-horizontal .form-group .input-holder input:focus {
    box-shadow: unset;
    border-color: #1976d2 !important;
    background-color: #fff;
    color: #000;
}

.relynt-form-holder .form-horizontal .form-group .input-holder .select-holder {
    border: 1px solid #ccc !important;
    width: 100%;
    transition: 0.3s;
    box-shadow: unset;
    flex: 1;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
    position: relative;
}

.relynt-form-holder .form-horizontal .form-group .input-holder .select-holder.disabled-select {
    background: #eee;
}

.relynt-form-holder .form-horizontal .form-group .input-holder .select-holder:after {
    content: "";
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 10px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.relynt-form-holder .form-horizontal .form-group .input-holder .select-holder:hover {
    box-shadow: unset;
    border-color: #1976d2 !important;
    background-color: #fff;
    color: #000;
}

.relynt-form-holder .form-horizontal .form-group .input-holder select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #000;
    width: 100%;
    border: none;
    background: none;
    border-radius: 4px;
}

@media (max-width: 550px) {
    .relynt-form-holder .form-horizontal .form-group {
        flex-flow: wrap;
        height: auto;
    }

    .relynt-form-holder .form-horizontal .form-group > label {
        margin-bottom: 8px;
        text-align: left;
    }

    .relynt-form-holder .form-horizontal .form-group > label,
    .relynt-form-holder .form-horizontal .form-group .input-holder {
        width: 100%
    }
}

.help-block:empty {
    display: none;
}

.relynt-form-holder .form-group .form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.relynt-form-holder .spl-switcher {
    display: inline-block;
    width: auto;
    background-color: white;
    border-color: #dfdfdf;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    margin: 5px 0 0;
}

.relynt-form-holder .spl-switcher input[type="checkbox"] {
    width: 100%;
    display: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}

.relynt-form-holder .spl-switcher .spl-switcher-label {
    font-weight: normal;
    height: 22px;
    vertical-align: middle;
    line-height: 22px;
    margin-left: 8px;
}

.relynt-form-holder .spl-switcher input[type="checkbox"] + label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0 !important;
}

.relynt-form-holder .spl-switcher input[type="checkbox"] + label span.spl-switcher-checkbox {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    position: relative;
    width: 35px;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    vertical-align: top;
}

.relynt-form-holder .spl-switcher input[type="checkbox"] + label span.spl-switcher-checkbox:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    height: 20px;
    width: 20px;
    left: 0;
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s;
}

.relynt-form-holder .spl-switcher input[type="checkbox"]:checked + label span.spl-switcher-checkbox {
    background-color: #1976d2;
    border-color: #1976d2;
    box-shadow: #1976d2 0 0 0 11.5px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.relynt-form-holder .spl-switcher input[type="checkbox"]:checked + label span.spl-switcher-checkbox:before {
    left: 12px;
    background-color: white;
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s;
}


/************tabs**************/

.tabs.custom-design .nav.nav-tabs > li > a:hover,
.tabs.custom-design .nav.nav-tabs > li > a:focus,
.tabs.custom-design .nav.nav-tabs > li > a {
    border-color: #e0e0e0;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: .5em 1em;
    font-weight: normal;
    border-radius: 0;
    background-color: #fff;
}

.tabs.custom-design .nav.nav-tabs > li.active > a,
.tabs.custom-design .nav.nav-tabs > li.active > a:hover,
.tabs.custom-design .nav.nav-tabs > li.active > a:focus {
    border-color: #e0e0e0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border-bottom-color: transparent;
    background-color: #fff;
}

.tabs.custom-design .tab-content {
    border: 1px solid #e0e0e0;
    border-top: 0;
    padding: 20px;
}


.relynt_top_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 6px 0px 7px 0px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 2px 0;
}

@media (max-width: 768px) {
    .relynt_top_nav {
        flex-flow: wrap;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.filters_nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
}

@media (max-width: 768px) {
    .filters_nav {
        width: 100%;
        padding-top: 4px;
        padding-bottom: 7px;
    }
}

.filters_nav .filter_inputs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: wrap;
}

@media (max-width: 768px) {
    .filters_nav .filter_inputs {
        width: 100%;
        justify-content: flex-start;
    }
}

@media (max-width: 460px) {
    .filters_nav .filter_inputs {
        justify-content: flex-end;
    }
}

.filters_nav .filter_inputs .filter_button,
.filters_nav .filter_inputs .filter_input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4px;
    margin-left: 4px;
}

.filters_nav .filter_inputs .filter_button:only-child,
.filters_nav .filter_inputs .filter_button:nth-child(1),
.filters_nav .filter_inputs .filter_input:only-child,
.filters_nav .filter_inputs .filter_input:nth-child(1) {
    margin-left: 0;
}

.filters_nav .filter_inputs .filter_input label:not(.btn) {
    margin-bottom: 0;
    padding-right: 4px;
    padding-left: 4px;
    line-height: 1;
    color: #333;
    font-size: 12px;
}

@media (max-width: 768px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 135px);
        max-width: calc(100% - 135px);
        text-align: center;
    }
}

@media (max-width: 690px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 125px);
        max-width: calc(100% - 125px);
        text-align: center;
    }
}

@media (max-width: 670px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 180px);
        max-width: calc(100% - 180px);
        text-align: left;
    }
}

@media (max-width: 580px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 135px);
        max-width: calc(100% - 135px);
    }
}

@media (max-width: 490px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 125px);
        max-width: calc(100% - 125px);
    }
}

@media (max-width: 460px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 250px);
        max-width: calc(100% - 250px);
    }
}

@media (max-width: 410px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 200px);
        max-width: calc(100% - 200px);
    }
}

@media (max-width: 390px) {
    .filters_nav .filter_inputs .filter_input label:not(.btn) {
        width: calc(100% - 180px);
        max-width: calc(100% - 180px);
    }
}

.filters_nav .filter_inputs .filter_input input {
    max-width: 120px;
}

.filters_nav .filter_inputs .filter_button .select2,
.filters_nav .filter_inputs .filter_input .select2 {
    min-width: 120px;
}

@media (max-width: 768px) {
    .filters_nav .filter_inputs .filter_button .select2,
    .filters_nav .filter_inputs .filter_input .select2 {
        min-width: 135px;
    }
}

@media (max-width: 690px) {
    .filters_nav .filter_inputs .filter_button .select2,
    .filters_nav .filter_inputs .filter_input .select2 {
        min-width: 125px;
    }
}

@media (max-width: 670px) {
    .filters_nav .filter_inputs .filter_button .select2,
    .filters_nav .filter_inputs .filter_input .select2 {
        min-width: 180px;
    }
}

@media (max-width: 580px) {
    .filters_nav .filter_inputs .filter_button .select2,
    .filters_nav .filter_inputs .filter_input .select2 {
        min-width: 135px;
    }
}

@media (max-width: 490px) {
    .filters_nav .filter_inputs .filter_button .select2,
    .filters_nav .filter_inputs .filter_input .select2 {
        min-width: 125px;
    }
}

.filters_nav .filter_inputs .filter_input input {
    height: 30px !important;
    max-width: 160px !important;
    border-color: #ccc;
    transition: 0.3s;
    box-shadow: unset;
    flex: 1;
    font-size: 12px;
}

.filters_nav .filter_inputs .filter_input input:hover,
.filters_nav .filter_inputs .filter_input input:active,
.filters_nav .filter_inputs .filter_input input:focus {
    box-shadow: unset;
    border-color: #1976d2;
    background-color: #fff;
    color: #000;
}


@media (max-width: 768px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 100% !important;
        max-width: 135px !important;
    }
}

@media (max-width: 690px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 125px !important;
        max-width: 125px !important;
    }
}

@media (max-width: 670px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 180px !important;
        max-width: 180px !important;
    }
}

@media (max-width: 580px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 135px !important;
        max-width: 135px !important;
    }
}

@media (max-width: 490px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 125px !important;
        max-width: 125px !important;
    }
}

@media (max-width: 460px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 250px !important;
        max-width: 250px !important;
    }
}

@media (max-width: 410px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 200px !important;
        max-width: 200px !important;
    }
}

@media (max-width: 390px) {
    .filters_nav .filter_inputs .filter_input input {
        width: 180px !important;
        max-width: 180px !important;
    }
}

@media (max-width: 768px) {
    .filters_nav .filter_inputs .filter_input {
        width: calc(100% / 3);
        margin-left: 0;
        justify-content: space-between;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(2n), .filters_nav .filter_inputs .filter_input:nth-child(5n) {
        justify-content: center;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(3n) {
        justify-content: flex-end;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(1),
    .filters_nav .filter_inputs .filter_input:nth-child(4n),
    .filters_nav .filter_inputs .filter_input:nth-child(11n) {
        justify-content: flex-start;
    }
}

@media (max-width: 670px) {
    .filters_nav .filter_inputs .filter_input {
        width: 49%;
        margin-left: 0;
        justify-content: space-between;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(2n) {
        justify-content: space-between;
        margin-left: 2%;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(3n) {
        justify-content: space-between;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(1),
    .filters_nav .filter_inputs .filter_input:nth-child(4n) {
        justify-content: space-between;
    }
}

@media (max-width: 460px) {
    .filters_nav .filter_inputs .filter_input {
        width: 100% !important;
        max-width: 100% !important;
    }

    .filters_nav .filter_inputs .filter_input:nth-child(2n) {
        margin-left: 0;
    }
}

.filters_nav .filter_inputs .filter_button label.btn-primary {
    color: #01579b;
    max-height: 100%;
}

.filters_nav .filter_inputs .filter_button label.btn-primary:hover, .filters_nav .filter_inputs .filter_button label.btn-primary:focus, .filters_nav .filter_inputs .filter_button label.btn-primary:active, .filters_nav .filter_inputs .filter_button label.btn-primary.active {
    color: #fff;
    background: #01579b;
    border-color: #01579b;
    box-shadow: unset;
}

.filters_nav .filter_inputs .filter_button button,
.filters_nav .filter_inputs .filter_button .btn-group {
    height: 30px !important;
}

@media (max-width: 768px) {
    .filters_nav .filter_inputs .filter_button button,
    .filters_nav .filter_inputs .filter_button .btn-group {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 460px) {
    .filters_nav .filter_inputs .filter_button input {
        width: 100% !important;
        max-width: 100% !important;
    }

    .filters_nav .filter_inputs .filter_button ~ .filter_button {
        margin-left: 2%;
    }
}

@media (max-width: 670px) {
    .filters_nav .filter_inputs .filter_input + .filter_button:nth-child(2),
    .filters_nav .filter_inputs .filter_input + .filter_button:nth-child(4),
    .filters_nav .filter_inputs .filter_input + .filter_button:nth-child(6) {
        margin-left: 2%;
        padding-left: 4px;
    }
}

.dropdown-menu {
    font-size: 13px;
}

/***************SIDEBAR for filters********/

.page-panel {
    min-height: 100%;
}

.content-with-toggle-sidebar-wrap {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap {
        flex-flow: column;
    }
}

.content-with-toggle-sidebar-wrap .content-with-toggle-sidebar {
    min-height: 0;
    margin: 0;
    width: 100%;
    transition: 0.125s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap .content-with-toggle-sidebar {
        order: 2;
    }
}

.content-with-toggle-sidebar-wrap .toggle-sidebar {
    background: white;
    z-index: 10;
    border-left: 1px solid transparent;
    min-height: 100%;
    transition: 0.125s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(120%);
}

.content-with-toggle-sidebar-wrap .toggle-sidebar input {
    height: 30px;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar {
        transform: translateX(0);
        position: static;
        width: 100%;
        order: 1;
        min-height: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        border-left: 0;
        border-bottom: 1px solid #B6B6B6;
    }
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info {
    padding: 15px;
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .title-about-block {
    font-size: 13px;
    margin: 3px 0 10px 0;
    font-weight: 600;
    color: #333;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info {
        padding: 15px 0;
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-filters {
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;
    }
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group {
    width: 100%;
    margin: 0;
    position: relative;
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group.form-group-hidden {
    display: none;
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group.form-group-hidden-by-filter {
    display: none !important;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group {
        width: calc((100% - 32px) / 5);
        margin-right: 8px;
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(5n) {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group {
        width: calc((100% - 24px) / 4);
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(5n) {
        margin-right: 8px;
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(4n) {
        margin-right: 0;
    }
}

@media (max-width: 678px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group {
        width: calc((100% - 16px) / 3);
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(4n) {
        margin-right: 8px;
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group {
        width: calc((100% - 8px) / 2);
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(3n) {
        margin-right: 8px;
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 370px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group {
        width: 100%;
        margin-right: 0;
    }

    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(5n),
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(4n),
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(3n),
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group:nth-child(2n) {
        margin-right: 0;
    }
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > input,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .select2,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .ms-parent {
    width: 100% !important;
    margin-bottom: 5px;
    border-color: #ccc;
    transition: 0.3s;
    box-shadow: unset;
    flex: 1;
    font-size: 12px;
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > input:focus,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > input:hover,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > input:active,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .select2:focus,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .select2:hover,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .select2:active,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .ms-parent:focus,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .ms-parent:hover,
.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .form-group > .ms-parent:active {
    box-shadow: unset;
    border-color: #1976d2;
    background-color: #fff;
    color: #000;
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info label.control-label {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    display: block;
    margin: 0 0 5px 0;
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block {
        width: calc((100% - 32px) / 5);
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 5px;
        margin-left: auto;
        padding-top: 19px;
    }
}

@media (max-width: 991px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block {
        width: calc((100% - 24px) / 4);
    }
}

@media (max-width: 678px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block {
        width: calc((100% - 16px) / 3);
    }
}

@media (max-width: 550px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block {
        width: calc((100% - 8px) / 2);
    }
}

@media (max-width: 370px) {
    .content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block {
        justify-content: space-between;
        width: 100%;
        padding-top: 8px;
    }
}

.content-with-toggle-sidebar-wrap .toggle-sidebar .toggle-sidebar-info .buttons-block .btn {
    height: 30px;
    font-size: 12px;
    text-align: center;
    width: 100%;
}


.content-with-toggle-sidebar-wrap.show-sidebar .content-with-toggle-sidebar {
    width: calc(100% - 248px);
    margin-right: 248px;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap.show-sidebar .content-with-toggle-sidebar {
        width: 100%;
        margin-right: 0;
    }
}

.content-with-toggle-sidebar-wrap.show-sidebar .toggle-sidebar {
    width: 233px;
    transform: translateX(0);
    border-left: 1px solid #e0e0e0;
}

@media (max-width: 1024px) {
    .content-with-toggle-sidebar-wrap.show-sidebar .toggle-sidebar {
        width: 100%;
        transform: translateX(0);
        visibility: visible;
        height: auto;
        opacity: 1;
        border-left: 0;
    }
}


/********alerts*******/

.alert {
    position: relative;
}

.alert button[data-dismiss="alert"] {
    vertical-align: top;
    height: 13px;
    line-height: 11px;
    width: 13px;
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0.5;
    font-weight: normal;
    font-size: 14px;
    outline: none;
}

/****************file input ***************/

.form-group .input-holder .input-group input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    font-size: 10px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    display: block;
    cursor: pointer;
    z-index: 10;
}

.form-group .input-holder .input-group #file-upload-button {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.form-group .input-holder .input-group {
    display: flex;
    flex-direction: row-reverse;

}

.form-group .input-holder .input-group input#file-info {
    border-radius: 4px 0 0 4px;
}

.form-group .input-holder .input-group .input-group-addon.btn-file {
    border-radius: 0 4px 4px 0;
    width: 50px;
    border-color: #1976d2;
    background: #1976d2;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.form-group .input-holder .input-group .input-group-addon.btn-file i {
    cursor: inherit;
}

.form-group.has-error .input-holder .input-group input#file-info {
    border-color: #a94442;
}

.form-group.has-error .input-holder .input-group .input-group-addon.btn-file {
    border-color: #a94442;
    background: #a94442;
}
