.notify-message {
    min-height: 35px;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

div.activity {
    margin-left: 28px;
    font-size: 13px;
}

div.activity-item {
    padding: 7px 12px;
}
